@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
#inventory-tabd__wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  background-color: #C5CAE9;
}
.tab{
  display: block;
  width: 200px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #3F51B5;
  border-top-left-radius: 25px;
  border-top-right-radius: 100px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.tab:hover{
  background-color: #3F51fc;
}
.tab.active{
  background-color: #3F51fc
}
.tab.active:hover{
  background-color: #3F51B5
}

#inventory{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #536DFE;
}
.inventory__field{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw ;
  border: 1px solid #000;
  background-color: #607D8B  ;
}
.inventory__field:nth-child(2n){
  background-color: #C5CAE9;
}
.item{
  width: 8vw;
  height: 8vw;
}
.item img{
  width: inherit;
  height: inherit;
}
.draging{
  z-index: 10;
  position: absolute;
}


@media screen and (max-width: 900px) {
  #inventory{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .inventory__field{
    height: 20vw;
    width: 20vw ;
  }
  .item{
    width: 16vw;
    height: 16vw;
  }
}
#view{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 123;
  height: 20vh;
  width: 100vw;
  background-color: #eee;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#view_img, #view_img img, #view_info, #money{
  height: inherit;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#view_info {
  background-color: #c9c9c9;
  width: 60vw;
}
